# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su


*.pgm
*.p3m
cachegrind*
callgrind*
uw2d
uw3d
bench
*.py
*.pyc

*.csv
*.pdf
*.eps
*.mexw64
*.pdb
